.qtify-hero-section {
    background-color: #121212;
    height: 270px;
    width: 100%;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
}

.qtify-hero-image {
    width: 212px;
    height: 212px;
}

.qtify-hero-text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Poppins';
    text-align: center;
    margin: 8px;
} 