.qtify-card {
    width: 159px;
    height: 205px;
    border-radius: 12px;
    cursor: pointer;
}

.qtify-card-img {
    max-width: 100%;
    object-fit: cover;
    height: 170px;
}

.qtify-card-chip {
    background-color: #121212;
    color: #FFFFFF;
}

.qtify-album-name {
    color: #FFFFFF;
    padding-left: 0px;
    margin: 0.25rem;
    font-size: 14px;
    font-family: 'Poppins';
}